{% extends 'base.html' %}

{% block content %}
<main class="container">
    <style>
        .form-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .save-button {
            grid-column: 2;  /* Posiciona el botón en la segunda columna */
            margin-top: 20px;  /* Espacio superior para separación */
        }
    </style>
    <div class="row">
        <div class="col-md-12 mt-5">
            <form action="{% url 'create_task' %}" method="POST" enctype="multipart/form-data" class="card card-body">
                <h1>Oportunidad de Negocio</h1>
                {% csrf_token %}
                {{ error }}

                <div class="form-container">
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                        {{ form.title }}
                        {% if form.title.help_text %}
                        <small class="form-text text-muted">{{ form.title.help_text }}</small>
                        {% endif %}
                        {% for error in form.title.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {{form.as_p}}
                    <!-- Agregar los demás campos de Task aquí -->

                    <div class="form-group">
                        <label for="{{ detalle_form.producto.id_for_label }}">{{ detalle_form.producto.label }}</label>
                        {{ detalle_form.producto }}
                        {% if detalle_form.producto.help_text %}
                        <small class="form-text text-muted">{{ detalle_form.producto.help_text }}</small>
                        {% endif %}
                        {% for error in detalle_form.producto.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {{detalle_form.as_p}}
                    <!-- Agregar los demás campos de DetalleOportunidad aquí -->

                </div>

                <button class="btn btn-primary save-button">Save</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}

