{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Jupiter APP</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta aperiam ratione praesentium aliquid adipisci perspiciatis explicabo magnam a doloribus qui commodi esse quibusdam inventore iusto possimus ad, neque odit, labore illum illo minima corrupti sint officiis consequuntur! Necessitatibus libero recusandae repellat debitis ducimus nesciunt error molestiae officia, ratione, tempore distinctio nostrum iure vero, alias temporibus voluptates quam modi optio nemo? Aspernatur, voluptates quo. Velit nulla minima delectus eum fuga, ipsam repudiandae neque numquam unde quo consectetur aspernatur ex vero illo eveniet eos pariatur quasi aut. Corporis esse velit, eaque placeat ex ipsum quo distinctio, incidunt pariatur labore aliquid quia soluta.</p>
    
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup">
            Signup
        </a>
    </div>
    
    </section>
</main>

{% endblock %}
